<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>EDIT</h1>

        <section class="edit-blog">
            <! -- this is a form to update the blog data ->
            <form action = "/update/<%= blog.blog_id %>" method="POST">
                <label for="Blog Title">Blog Title</label>
                <input type="text" name="blog_title" value="<%= blog.title %>" required>

                <label for="Blog">Blog</label>
                <input type="text" name="blog" value="<%= blog.body %>" required>

                <button type="submit">Update Blog</button>
            </form>
            <br>
            <! -- button to return home without making changes ->
            <a href="/">
                <button type="button">Go Back Home</button>
            </a>
        </section>
    </div>
</body>
</html>